body {
	
	background-color: rgb(245,255,255);
	color: ;
	text-align: justify;
	font-size:25px; 
}
#navl {
	background-color: rgb(230,240,250);
}
#navr {
	background-color: rgb(230,240,250);
}
h1 {
	background-color:purple;
}

